body{
    font-family: "montserrat";
}
#title{
    background-color: #ff4c68;
    color: #fff;
}

/* navbar */



/* copyright */
#fixed-resp{
    opacity: 0.8;
    position: fixed;
width: 100%;
height: 200px;
top: 50%;
left: 0%;
right: 0%;
margin-top: -100px; /* Negative half of height. */
z-index: 1111;
}

.heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    line-height: 1.5;
}
.download-btn{
    margin: 5% 3% 5% 0%;
}
.title-image{
    width: 56%;
    margin-top: 12%;
transform: translateX(40%) rotate(24deg);
position: absolute;

}
#features{
padding: 8% 16%;
background-color: white;
position: relative;
z-index: 1;
}
.feature-box{
    padding: 6%;
    text-align: center;
}h3{
    font-family: montserrat-bold;
}
p{
color: #8f8f8f;
}

/* testimonials */

#testimonials{
    
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.carousel-item{
    padding: 4% 12%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 4%;
}
.press-logo{
    width: 16%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
  }
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  .pricing-column {
    padding: 3% 2%;
  }
  .section-heading{
      text-align: center;
  }
@media(max-width:1028px) {

#title{
    text-align: center;
}
.title-image{
    position: static;
    transform: rotate(0);
}
.heading{
    font-size: 2.4rem;
}
.carousel-item{
    font-size: 0.6rem;
    text-align: center;
    line-height:1.6;
}
}
.download-button{
    margin: 5% 3% 5% 0;
}

.colored-section{
    background-color:   #ff4c68;
        text-align: center;
}
.big-heading{
   
    font-size: 4rem;
    color: white;
    margin: 0% 12% 0%;
}
#footer{
    text-align: center;
    padding: 8% 16%;
}
.social-icon{
    margin: 20px 20px;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
